.logo {
	color: $primary-blue;
	cursor: pointer;
	text-shadow: 0 0 0.8rem rgba(0, 123, 255, 0.8);

	.logo-upper {
		letter-spacing: 3px;
		font-weight: 700;
		font-size: 3rem;
		font-family: $font-stack-secondary;
	}

	.logo-lower {
		letter-spacing: 2px;
		font-size: 2rem;
		font-weight: 600;
	}
}
