*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	@media screen and (max-width: 800px) {
		font-size: 50%;
	}

	@media screen and (min-width: 1500px) {
		font-size: 80%;
	}
}

body {
	font-family: $font-stack-primary;
	overflow-x: hidden;
	background-color: $grey-dark;
	color: white;
	font-size: 1.75rem;
	line-height: 1.5;

	#root > * {
		&.show {
			display: block;
		}

		&.hide {
			display: none;
		}
	}
}

a {
	text-decoration: none;
	display: inline-block;
}

li {
	list-style-type: none;
}

.paddingHeaderFeature {
	padding: 0 15rem;

	@media screen and (max-width: 1200px) {
		padding: 0 10rem;
	}

	@media screen and (max-width: 800px) {
		padding: 0 4rem;
	}

	@media screen and (min-width: 1800px) {
		padding: 0 17rem;
	}
}
