.results {
	padding: 3rem 7rem;

	.results-main {
		margin: auto;
		max-width: 125rem;
		overflow-x: hidden;
		padding: 5rem 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		grid-auto-rows: max-content;
		grid-gap: 3rem;
		justify-content: center;
	}

	&.search-results {
		padding: 3rem 12rem;

		.results-main {
			grid-template-columns: repeat(auto-fit, minmax(20rem, 27rem));
		}
	}
}
