//colors
$primary-blue: #007bff;
$dark-blue: #262632;
$dark-grey: #181818;
$light-pink: #ab4970;
$light-blue: #ab4970;
$light-green: #5cdb94;
$dark-blue-secondary: #063968;
$almost-black: #1a1a1c;
$light-grey: #aaaaaa;

$grey-dark: #181818;
$grey-light: #212121;
$grey-lighter: rgb(187, 183, 183);

//fonts
$font-stack-primary: "Raleway", sans-serif;
$font-stack-secondary: "Open Sans", sans-serif;
$font-stack-tertiary: "Abel", sans-serif;
